{% extends "base.html" %}
{% block content %}


<div class="container rounded">
    <h1>Welcome to Skating Marty!</h1>
</div>


<div class="container rounded bg-primary">
    <h3>What is Skating Marty?</h3>
    Skating Marty is a lesson plan designed by a student at the University of Edinburgh for its Computing in the Classroom course. This project is aimed to develop computational thinking, programming skills, and increase interest in robotics and computing.
    <div class = "pb-1"></div>
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <h3>What age is the lesson plan aimed at?</h3>
    The lesson should suit students aged 9-12.
    <div class = "pb-1"></div>
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <h3>How long should I expect the lesson to last?</h3>
    Dedicate around an hour and a half to two hours to working through this project.
    <div class = "pb-1"></div>
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <h3>What will children learn?</h3>
    Students will learn basic programming principles such as sequencing and loops. They will also learn the fundamentals of robotics which could leave room for further projects with other technologies. For more detail and sources please visit the <a href="/pedagogies">pedagogies page</a>.
    <div class = "pb-1"></div>
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <h3>Where should I begin?</h3>
    Access the <a href="/lessonplan">Lesson Plan page</a> to view the lesson plan and required resources.
    <div class = "pb-1"></div>
</div>

{% endblock %}