{% extends "base.html" %}
{% block content %}


<div class="container rounded">
    <h1>Welcome to Skating Marty!</h1>
</div>


<div class="container rounded bg-primary">
    <h3>What is Skating Marty?</h3>
    Skating Marty  is a lesson plan designed by a student at the University of Edinburgh for its Computing in the Classroom course.
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <h3>What age is the lesson plan aimed at?</h3>
    The lesson should suit children aged 9-11.
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <h3>How long should I expect the lesson to last?</h3>
    Dedicate around an hour to this project.
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <h3>What will children learn?</h3>
    Children will learn about product design and basic robotics and programming. This lesson plan is designed to inspire and excite children in early computing education. For more detail and source please visit the <a href="/pedagogies">pedagogies</a> page.
</div>

{% endblock %}