{% extends "base.html" %}
{% block content %}


<div class="container rounded">
    <h1>Pedagogies</h1>
</div>


<div class="container rounded bg-primary">
    <h3>What is Skating Marty?</h3>
    Skating Marty is a lesson plan designed by a student at the University of Edinburgh for its Computing in the Classroom course. This project is aimed to develop computational thinking, programming skills, and increase interest in robotics and computing.
    <div class = "pb-1"></div>
</div>


<div class = "pb-3"></div>



{% endblock %}