{% extends "base.html" %}
{% block content %}


<div class="container rounded">
    <h1>Pedagogies</h1>
</div>


<div class="container rounded bg-primary">
    <div class = "pb-1"></div>
    At its core, this lesson plan is primarily designed to be an interesting and fun introduction to robotics and programming. There is an emphasis on learning some basic ideas of <b>computational thinking</b>, which is a problem-solving process that helps translate real-world problems into programmable solutions, and is a key component in today's computing curriculum.
    One of the main bases of this plan is <b>socio-constructivism</b>, which is a theory of learning that emphasises the role of social interactions in learning. The constructivism element also encourages students to 'build' knowledge within their own experiences and interactions, instead of simply being receipients of teaching.
    However, some more specific and complex pedagogies were also employed - if you are curious about these, they will be briefly described below and their corresponding sources provided.
    <div class = "pb-3"></div>
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <div class = "pb-1"></div>
    <h3>The CPG+ Model</h3>
    The CPG+ Model is a framework for educational robotics activities designed by Soumela Atmatzidou and Stavros Demetriadis at the University of Thessaloniki in 2017.
    They aimed to create a model for learning computational thinking using robotics for elementary school students. The components of this process are as follows:
    <ul>
        <li>Collaboration - students work in small groups using a <b>collaboration script</b> - a framework for how they will work together, which in this case is pair programming.</li>
        <li>Problem - problems and information are introduced of increasing difficulty, requiring the acquisition of new knowledge.</li>
        <li>Game-Competition - learning is gamified with a challenge to motivate students, in this case the robot race.</li>
        <li>+ - the devlopment of computational thinking and problem-solving skills, faciliated by the teacher.</li>
    </ul>
    <div class = "pb-1"></div>
    One of the main insights that the reseachers explored was <b>levels of guidance</b>, which refers to the level of involvement of the teacher and the requirement to engage in written activites.
    It was found that groups with stronger guidance experienced better learning outcomes on subsequent tests. As a result, this plan emphasises the role of the teacher as a prompter and challenger to guide the learning process.
    Furthermore, this influenced the choice to include a written reflection activity at the end of the session.
    <div class = "pb-1"></div>
    You can find the original paper <a href="https://link.springer.com/chapter/10.1007/978-3-319-55553-9_5">here</a>.
    <div class = "pb-3"></div>
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <div class = "pb-1"></div>
    <h3>The CCPS Model</h3>
    The creative computational problem-solving model was developed by Morgane Chevalier, Christian Giang, Alberto Piatti and Francesco Mondada in 2020. Similarly to CPG+, it acts as a framework for developing computational thinking through educational robotics.
    Uniquely though, it focuses on the phases of the problem-solving process and the transitions between each. The conceptualised process is as follows:
    <ul>
        <li>Understanding the problem</li>
        <li>Generating ideas</li>
        <li>Formulating the robot's behaviour</li>
        <li>Programming the behaviour</li>
        <li>Evaluating the behaviour</li>
    </ul>
    <div class = "pb-1"></div>
    This process is imagined as a loop, where students repeat the process until they arrive at a solution. They focused on a common failure of this cycle - a trial-and-error loop where students iteratively program without performing the whole problem-solving process and learning the underlying concepts.
    Hence in this plan we use the recommended process of <b>blocking</b>, where on occasion access to the programming environment is restricted to ensure students are actively reflecting on what they are doing and how to come to a solution.
    <div class = "pb-1"></div>
    You can find the original paper <a href="https://stemeducationjournal.springeropen.com/articles/10.1186/s40594-020-00238-z#Sec2">here</a>.
    <div class = "pb-3"></div>
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <div class = "pb-1"></div>
    <h3>Room to Explore</h3>
    This lesson plan is limited to a fairly specific task, but ideally should leave room for further teaching activities involving computing and robotics.
    The Marty robots are an excellent tool for practising programming, and this lesson plan may already inspire children with further ideas of what they may wish to do. Robotical, the creators of Marty provide a comprehensive set of lesson plans for free <a href="https://learn.robotical.io/lessons/martyVersions/2">here</a> if you wish to keep exploring! 
    <div class = "pb-3"></div>
</div>
<div class = "pb-3"></div>

{% endblock %}