{% extends "base.html" %}
{% block content %}

<div class="container rounded">
    <h1>Lesson Plan</h1>
</div>

<div class="container rounded bg-info">
    <h3>Resources required:</h3>
    <ul>
        <li>a Marty robot</li>
        <li>Marty's skate attachment (3d  printable, see file here)</li>
        <li>materials to make skates</li>
    </ul>
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <h3>Introduction</h3>
    Show students this video of Marty getting used to his skates!
    <div class = "pb-1"></div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-w2JIjG_cXg?si=_mjvnXNXgqqTcOtn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </iframe>
    <div class = "pb-1"></div>
    Explain to students they will be helping your very own Marty robots to learn to skate - but first they need skates!
    <div class = "pb-3"></div>
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <h3>Coding (20 mins)</h3>
    Show the students how to connect to and operate Marty. 
    <div class = "pb-1"></div>
    Allow them to experiment with controlling his movements. Encourage children to pass around the controller and share.
    Use basic blocks to encode a sequence of moves.
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <h3>Exploration (15 minutes)</h3>
    <div>Put away any devices used for Marty's control to remove distraction. Split students into groups of 3-5 and ask them to take a look at the provided materials. Which pieces do they think could help make skates for Marty? Encourage them to develop a plan for their design.</div>
    
    Questions for students:
    <ul>
        <li>Which wheels should they use?</li>
        <li>How will they create an axle? Do they know what an axle is?</li>
        <li>How will they attach the different components?</li>
    </ul>
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <h3>Building (40 minutes)</h3>
    Instruct students to enact their plans (or continue developing them).
    <div class = "pb-1"></div>
    Encourage students to work on their ideas collaboratively, without resolving issues for them.
    Towards the end of the session, if you feel adult intervention is needed, offer assistance.
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <h3>Skating!</h3>
    Let the students attempt to skate with their Marty robots. 
</div>

{% endblock %}