{% extends "base.html" %}
{% block content %}

<div class="container rounded">
    <h1>Lesson Plan</h1>
</div>

<div class="container rounded bg-info">
    <div class = "pb-1"></div>
    <h3>Resources required:</h3>
    <ul>
        <li>one Marty robot for every group of 3-5 children (V1 or V2)</li>
        <li>Marty's skate attachment (3D printable, download file <a href="{{ url_for('static',filename='marty_skates.zip') }}">here</a>)</li>
        <li>A computer for each group, set up on Scratch 3.0 online</li>
    </ul>
    <div class = "pb-1"></div>
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-info">
    <div class = "pb-1"></div>
    <h3>Preparation ahead of class</h3>
    Be aware you will need to make some small preparations in advance of the lesson!
    <div class = "pb-1"></div>
    <h4>The skates</h4>
    You will need to either be provided with or 3D print your own skate feet for Marty (files for printing linked above). 
    Unzip the file once downloaded and print two copies of each file.

    These should be compatible with both V1 and V2s Martys.
    The base skate can simply be attached in place of his feet. The axles and wheels can be attached to the skates.
    (Add pictures here for construction)
    <div class = "pb-1"></div>
    <h4>Connecting to Marty</h4>
    It's also suggested you take a little time to familiarise yourself with the process of connecting to Marty in advance of the session - he can be a little temperamental on occasion. 
    This session will use Marty's block-based coding interface in Scratch, and expects no prior knowledge.
    View Robotical's page <a href="https://userguides.robotical.io/martyv1/using-marty/program/scratch">here</a> on connecting to Marty and give it a shot in advance of the session. Also make sure all robots are fully charged!
    <div class = "pb-3"></div>
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <div class = "pb-1"></div>
    <h3>Introduction</h3>
    Show students this video of Marty getting used to his skates!
    <div class = "pb-1"></div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-w2JIjG_cXg?si=_mjvnXNXgqqTcOtn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </iframe>
    <div class = "pb-1"></div>
    Explain to students they will be helping your very own Marty robots to learn to skate!
    <div class = "pb-1"></div>
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <div class = "pb-1"></div>
    <h3>Coding (20 mins)</h3>
    Show the students how to connect to and operate Marty. 
    <div class = "pb-1"></div>
    Allow them to experiment with controlling his movements. Encourage children to pass around the controller and share.
    Use basic blocks to encode a sequence of moves.
    <div class = "pb-1"></div>
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <div class = "pb-1"></div>
    <h3>Exploration (15 minutes)</h3>
    <div class = "pb-1"></div>
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <div class = "pb-1"></div>
    <h3>Skating!</h3>
    Let the students attempt to skate with their Marty robots. 
    <div class = "pb-1"></div>
</div>

{% endblock %}