{% extends "base.html" %}
{% block content %}

<div class="container rounded">
    <h1>Lesson Plan</h1>
</div>

<div class="container rounded bg-info">
    <div class = "pb-1"></div>
    <h3>Resources required:</h3>
    <ul>
        <li>One Marty robot for every group of 2-4 children (V1 or V2)</li>
        <li>Marty's skate attachment (3D printable, download files <a href="{{ url_for('static',filename='marty_skates.zip') }}">here</a>)</li>
        <li>A computer for each group, set up for Scratch programming with Marty (Scratch programming environment for Marty V1 <a href="https://scratch3beta.robotical.io/">here</a>, alternative for Marty V2 <a href="https://marty-webapp.web.app/marty-blocks">here</a>)</li>
    </ul>
    <div class = "pb-1"></div>
    Not sure if you have a Marty V1 or V2? If you or your school acquired the Marty robots from 2020 onwards, they are likely to be V2.
    Note that this lesson plan was designed using a V1 Marty, but it should be compatible with V2 Marty including 3D printed parts - just be sure to double check connection and programming environments.
    <div class = "pb-1"></div>
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-info">
    <div class = "pb-1"></div>
    <h3>Preparation ahead of class</h3>
    Be aware you will need to make some small preparations in advance of the lesson!
    <div class = "pb-1"></div>
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-info">
    <div class = "pb-1"></div>
    <h4>The skates</h4>
    You will need to either be provided with or 3D print your own skate feet for Marty (files for printing linked above).
    <div class = "pb-1"></div>
<h6>Steps</h6>
    <ol>
        <li>Extract the downloaded files. Print two copies of each file.</li>
        <li>Slide the axles through the holes under the skates, and attach the wheels (add pics).</li>
        <li>Unscrew Marty's feet, and replace them with the skates.</li>
    </ol>
    <div class = "pb-1"></div>
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-info">
    <div class = "pb-1"></div>
    <h4>Connecting to Marty</h4>
    It's also suggested you take a little time to familiarise yourself with the process of connecting to Marty in advance of the session - he can be a little temperamental on occasion. 
    This session will use Marty's block-based coding interface in Scratch, and expects no prior knowledge.
    View Robotical's page <a href="https://userguides.robotical.io/martyv1/using-marty/program/scratch">here</a> on connecting to Marty and give it a shot in advance of the session. Also make sure all robots are fully charged!
    <div class = "pb-3"></div>
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <div class = "pb-1"></div>
    <h3>Introduction</h3>
    Show students this video of Marty getting used to his skates!
    <div class = "pb-1"></div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-w2JIjG_cXg?si=_mjvnXNXgqqTcOtn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </iframe>
    <div class = "pb-1"></div>
    Explain to students they will be helping your very own Marty robots to learn to skate!
    <div class = "pb-1"></div>
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <div class = "pb-1"></div>
    <h3>Setup (5-10 mins)</h3>
    Show the students how to connect to Marty in Scratch, ideally displaying this at the front of the class on your own computer. 
    Show them where they can find Marty's coding blocks (below all other Scratch blocks). 
    Explain that we can use the computer to give instructions to Marty that let him move.
    Begin with the simple code block below to show them how to move Marty's arms (save the walking for them to discover!) and click on the green flag to begin:
    <div class = "pb-1"></div>
    <img src="{{ url_for('static',filename='/images/codeblock1.png') }}">
    <div class = "pb-1"></div>
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <div class = "pb-1"></div>
    <h3>Exploration (10 minutes)</h3>
    Allow the students to experiment with Marty's code blocks. They will likely be excited to try a number of motions. 
    Students here will naturally grasp the concept of sequence in programming, the idea that each instruction is executed one after another.
    <div class = "pb-1"></div>
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <div class = "pb-1"></div>
    <h3>Introduction to Loops (10 minutes)</h3>
    By now, the robots will likely be moving about in chaotic fashion!
    Stop the class and ask them to switch off their robots while you speak.
    Now present them with the Control block of Scratch. Add a block with a repeat loop first, iterating three times.
    Then present them with a forever loop.
    <div class = "pb-1"></div>
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <div class = "pb-1"></div>
    <h3>Skating! (10 minutes)</h3>
    Let the students attempt to skate with their Marty robots. Now encourage them to incorporate loops into their code.
    <div class = "pb-1"></div>
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <div class = "pb-1"></div>
    <h3>Cone challenge</h3>
    Create a set of points to weave around for each group. Ask them to try and weave through the cones as fast as they are able.
    <div class = "pb-1"></div>
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <div class = "pb-1"></div>
    <h3>The race!</h3>
    Challenge the groups to race through the cones! See which Marty skates best!
    <div class = "pb-1"></div>
</div>

<div class = "pb-3"></div>

<div class="container rounded bg-primary">
    <div class = "pb-1"></div>
    <h3>Reflection</h3>
    Provide the students with the reflection sheet which will ask them a few short questions about what they have done.
    <div class = "pb-1"></div>
</div>


{% endblock %}